.link{
  position: center;
  color: white;
  text-decoration:none;
  font-family: Microsoft JhengHei;
  font-size: 22px;
}
#top{
  top:0px;
  margin:0px;
  width:100%;
  height: 70px;
    padding:0px;
    background:rgba(0, 0, 0, 0.5);
}
#all{
  background-image: url("food17.jpg");
  background-size: cover;
  height: 100%;
  font-weight: 100;
}
#col{
  height: 100%;
  background:rgba(255, 255, 255, 0.2);
}
html{
  height:100%;
}
body{
  margin: 0px;
  height: 100%;
  overflow:hidden;
}
a:hover {
  background-color: gray;
}
ul li{
  display: inline;
}
li{
  margin: 25px;
}
ul{
  margin:0px;
  padding-top:20px;
}
button{
  position: absolute;
  top: 30%;
  right: 77%;
  color: #666666;
  border-radius: 10px;
  width: 6%;
  height: 40px;
}
.roulette{
  position: absolute;
  width: 25%;
  top:20%;
  right: 67.5%;
}
.restaurantIntroduction{
  text-align: center;
  position: fixed;
  width: 50%;
  height: 60%;
  border-style: solid;
  right: 10%;
  top: 15%;
  padding: 1%;
  background:rgba(255, 255, 255, 0.5);
  font-size: 30px;
}
#restaurantMap{
  position: absolute;
  width: 25%;
  height: 30%;
  top: 45%;
  right: 65%;
  padding: 1%;
  border-style: solid;
}