.link{
  position: center;
  color: white;
  text-decoration:none;
  font-family: Microsoft JhengHei;
  font-size: 22px;
}
#top{
  top:0px;
  margin:0px;
  width:100%;
  height: 70px;
  padding:0px;
  background:rgba(0, 0, 0, 1);
	font-family: cursive;
  font-size: 20px;
	text-align: center;
	font-weight: bold;
}
#all{
  background-image: url("food17.jpg");
  background-size: cover;
  height: 100%;
  font-weight: 100;
}
#col{
  height: 100%;
  background:rgba(255, 255, 255, 0.2);
}
html{
  height:100%;
}
body{
  margin: 0px;
  height: 100%;
  overflow:hidden;
}
a:hover {
  background-color: gray;
}
ul li{
  display: inline;
}
li{
  margin: 25px;
}
ul{
  margin:0px;
  padding-top:20px;
}
button{
  position: absolute;
  top: 30%;
  right: 77%;
  color: #666666;
  border-radius: 10px;
  width: 6%;
  height: 40px;
}
.roulette{
  position: absolute;
  width: 25%;
  top:20%;
  right: 67.5%;
}
.restaurantIntroduction{
  position: fixed;
  width: 50%;
  height: 60%;
  border-style: solid;
  right: 10%;
  top: 15%;
  padding: 1%;
  background:rgba(255, 255, 255, 0.5);
  font-size: 30px;
}
#restaurantMap{
  position: absolute;
  width: 25%;
  height: 40%;
  top: 35%;
  right: 65%;
  padding: 1%;
  border-style: solid;
}
@keyframes moveTxt{
    from{
      opacity: 0%;
    }
    to{
      opacity: 100%;
    }
}
.find{  /*find的div*/
  position: absolute;
  /* background: white; */
  right: 0px;
  width: 200px;
  height: 70px;
}
.memu{  /*Memu的div*/
  position: absolute;
  /* background: white; */
  left: 0px;
  width: 200px;
  height:70px;
}
.a_tag{
  line-height: 70px;
}
a:not(.header){
  text-decoration: none;
  color: black;
  display: block;
}
#top a{
  display: inline-block;
  text-decoration: none;
  line-height: 70px;
  height: 70px;
  width: 200px;
  color: white;
  position: relative;
}
.list-left{ /*左大區塊的每一個區塊 */
  position: relative;
  font-size: 20px;
  height:30px;
  left:-200px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition:0.4s;
  z-index: 2;
}
.list-left:hover{   /*滑鼠覆蓋在左邊的清單上*/
  background: rgba(52, 23, 216, 0.5);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);;
  left: 30px;
}
.list-right:hover{  /*滑鼠覆蓋在右邊的清單上*/
  background: rgba(52, 23, 216, 0.5);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);;
  right: 30px;
}
.left-right-list a{
  text-decoration: none;
  color: black;
}
.left-list{ /*整個左大區塊的CSS */
  /* display: none; */ 
  top: 70px;
  left: 0px;
  position: fixed;
  text-align: center;
  width: 0px;
  height: 100%;
  background: white;
  padding-bottom: 10px;
  z-index: 2;
  transition:0.4s;
}

.left-right-list-open{
  width: 200px;
  transition: 0.4s;
}
.list-left-open{
  left: 0px;
  transition:0.4s;
}
.hover_all{ /*把整個頁面變半透明用的覆蓋div */
  /* overflow: hidden; */
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  z-index: 1;
}
.hover_all_black{   /*把整個頁面變半透明用的覆蓋div */
  background: rgba(0,0,0,0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  z-index: 1;
}