.link{
	position: center;
	color: white;
	text-decoration:none;
	font-family: Microsoft JhengHei;
	font-size: 22px;
}
#go{
	margin-top: 50px;
}
#top{
	top:0px;
	margin:0px;
	width:100%;
	height: 70px;
    padding:0px;
    background:rgba(0, 0, 0, 0.5);
}
#all{
	background-image: url("food17.jpg");
	background-size: cover;
	height: 100%;
	font-weight: 100;
}
#col{
	/*height: 1500px;*/
	height: 100%;
	background:rgba(255, 255, 255, 0.2);
}
#ppt{
	text-align: center;
	height: 80%;
}
html{
	height:100%;
}
iframe{
	padding: 1%;
	width:85%;
	height:100%;
}
body{
	margin: 0px;
	height: 100%;
	overflow:hidden;
}
a:hover {
	background-color: gray;
}
ul li{
	display: inline;
}
li{
	margin: 25px;
}
ul{
	margin:0px;
	padding-top:20px;
}