html{
    height: 100%;
}
body{
    margin: 0; 
    padding: 0;
    overflow: hidden;
    height: 100%;
}
.background{
    margin-top: 0px;
    margin-left: 0px;
    height: 100%;
    width: 100%;
    background-image:url("food13.jpg");
    background-size:cover;
}
.all{
    height: 100%;
    width: 100%;
    font-weight: bold;
    background:rgba(255,255,255,0.1);
}
.header{
    position: fixed;
    width: 100%;
    height: 70px;
    background: rgba(0,0,0,0.5);
    color:white;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}
.big_title{
    top: 25%;
    position: absolute;
    width: 100%;
    line-height: 35px;
    text-align: center;
    margin:0px auto;
    font-weight: bold;
}
.find{
    position: absolute;
    /* background: white; */
    right: 0px;
    width: 200px;
    height: 70px;
}
.memu{
    position: absolute;
    /* background: white; */
    left: 0px;
    /*width: 200px;*/
    height:70px;
    font-weight: 100;
    /*position: center;*/
    color: white;
    /*text-decoration:none;*/
    font-family: Microsoft JhengHei;
    font-size: 22px;
    margin: 20px;
    margin-left: 65px;
}
.header a{
    display: inline-block;
    text-decoration: none;
    color: white;
    position: relative;

}
.list-left{ /*左大區塊的每一個區塊 */
    position: relative;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height:30px;
    left:-200px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition:left 1s;
}
.list-left:hover{
    background: rgba(52, 23, 216, 0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    left: 30px;
}
.list-right{ /*右大區塊的每一個區塊 */
    position: relative;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height:30px;
    right:0px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition:right 1s;
}
.list-right:hover{
    background: rgba(52, 23, 216, 0.2);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    right: 30px;
}
.left-right-list a{
    text-decoration: none;
    color: black;
}
.left-list{ /*左大區塊的CSS */
    /* display: none; */ 
    top: 70px;
    left: 0px;
    position:absolute;
    text-align: center;
    width: 0px;
    height: 100%;
    background: white;
    padding-bottom: 10px;
}
.right-list{  /*右大區塊的CSS */
    /* display: none; */
    top: 70px;
    right: 0px;
    position: absolute;
    text-align: center;
    width: 0px;
    height: 100%;
    background: white;
    padding-bottom: 10px;
}
.left-right-list-open{
    width: 200px;
    transition: 0.6s;
}
.list-left-open{
    left: 0px;
    transition:left 0.6s;
}
.a-tag a:hover{
    background-color: gray;
}